body{
  /* background: linear-gradient(#ffff,#67b8de); */
  background-image: url("../img/CocinaPpal.jpg");
  background-color: #cccc;
}

#TituloBlog, #ContenidoBlog{
  background-color: #cccc;
}

h1{
  font-family: 'Lobster', cursive;
}

h2{
  font-family: 'Nunito Sans', sans-serif;
  font-style: italic;
}

h3{
  font-family: 'Righteous', cursive;
}

ul li a:hover{
  background-color: #67b8de;
  border-radius: 5px;
}
